
$mobile-breakpoint: var(--mobile-breakpoint);

hr {
  background: var(--color-gray-lightest);
}

.reader-text {
  font-family: var(--reader-font);
  line-height: 1.7;
  font-size: 18px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.app-modal {

  .modal-wrapper {
    --min-width: 864px;
    --min-height: 80vh;

    @media only screen and (max-width: 864px) {
      --min-width: 100%;
      --min-height: 100vh;
    }
  }

}
